name: ci
on: [pull_request]
jobs:
  formating:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repo"
        run: actions/checkout@v3
      - name: "Start containers"
        run: "cd ch03 && make up"
      - name: "Run black"
        run: "docker exec airflow python -m black"
      - name: "Run flake8"
        run: "docker exec airflow python flake8"