name: ci
on: [pull_request]
jobs:
  formating:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v3
      - name: "Start containers"
        run: "cd ch03 && make up"
      - name: "Echo ls"
        run: "ls"
      - name: "Run black"
        run: "docker exec airflow python -m black -S ./dags"
      - name: "Run flake8"
        run: "docker exec airflow python flake8"